.project-name {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
  background: #2E4053;
  color: #FFFFFF;
  padding-top: 100px
}

html{
  background: #2E4053;
}

.navbar-form{
  min-width: 300px
}